<div class="container service">
  <h1 class="page-title">Services</h1>

  <ul>
    <% @services.each do |service| %>
      <%= render "list", service: service %>
    <% end %>
  </ul>

</div><!-- /.container -->
