<div class="container service formErrors">
  <h1 class="page-title">Create a Service</h1>

  <div class="row centered">
    <div class="col-sm-8">

      <%= render "form", service: @service %>

    </div><!-- /.panel -->
  </div><!-- /.row -->

</div><!-- /.container -->
