<div class="container service form">
  <h1 class="page-title">Create a Service</h1>

  <div class="row centered">
    <div class="panel panel-default col-sm-8 ">

      <%= render "form", service: @service %>

    </div><!-- /.panel -->
  </div><!-- /.row -->
  
</div><!-- /.container -->
