<div class="container order">

  <h1 class="page-title">Order History</h1>

  <ul>
    <% if @orders.present? %>

      <% @orders.each do |order| %>
        <%= render "list", order: order %>
      <% end %>

    <% else %>
      <h3>You currently do not have any orders.</h3>
    <% end %>
  </ul>

</div><!-- /.container -->
