<div class="container order">

  <h1 class="page-title">Order History</h1>

  <ul>
    <% @orders.each do |order| %>
      <%= render "list", order: order %>
    <% end %>
  </ul>

</div><!-- /.container -->
