
<div class="container form">

  <h1 class="page-title">Order Service</h1>
  

  <%= render "form", order: @order,
                     user_account: @order.account,
                     shipper: set_shipper,
                     shipper_address: set_shipper_address,
                     shipper_phone: set_shipper_phone,
                     recipient: set_recipient,
                     recipient_address: set_recipient_address,
                     recipient_phone: set_recipient_phone
                   %>

</div>
