// ==========================================================================
// Logo
// ==========================================================================

.logo {
  color: $white;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  /*font-family: 'Kanit', sans-serif;*/
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  margin-left: 1rem;
  span.xbold {
    font-weight: 400;
    margin-left: 2px;
  }
  &:focus, &:hover {
    color: $aluminum;
  }

}
