// =======================================================================
// Panel
// =======================================================================

// Provided by rails - simple_form
.error_explanation, #error_explanation {
  color: $google;
  margin-bottom: 2rem;
  h4 {
      margin-bottom: .75rem;
  }
  .error_list {
    margin-left: 2rem;
  }
  ul {
    font-size: 17px;
    ul{
      margin-bottom: .5rem;
      li {
        margin-left: 15px;
      }
      li:last-child{
        margin-bottom: .5rem;
      }
    }
  }
}

.order_errors {
  .nested_errors {
    margin-left: 15px;
  }
  .nested-x2_errors {
    margin-left: 20px;
  }
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    color: $google;
}

/*flash messages*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
