// =======================================================================
// Navigation
// =======================================================================


/* ----------------------------------------------
    Navbar
---------------------------------------------- */
 #main-nav {
//   background: $semi-transparent;
  border-radius: 0; //remove rounded edge of border on navigation
  padding: 11px 0;
}


/* ----------------------------------------------
    Navigation Links (tabs)
---------------------------------------------- */
#main-nav {
  font-weight: 100;
  font-size: 16px;
  // Inactive State
  li > a {
    background-color: $jet;
    color: $smoke;
    &:focus, &:hover {
      background-color: $jet;
      color: $astral;
    }
  }

  // Active State
  .active > a {
    background-color: $jet;
    color: $astral;
    &:focus, &:hover {
      background-color: $jet;
      color: $astral;
    }
  }
}
/* ----------------------------------------------
    Navbar Dropdown-Menu
---------------------------------------------- */
#main-nav {
  .dropdown-menu {
    background-color: #222;
    .divider {
      background-color: $oil;
    }
    li > a {
      background-color: #222;
      color: $smoke;
      &:focus, &:hover {
        // background-color: $jet;
        color: $astral;
        // increase font
      }
    }
  }
}
/* ----------------------------------------------
    Navbar Collapse (mobile)
---------------------------------------------- */
//make scrollable on ios devices
// #main-nav {
//   .navbar-collapse,
//   .navbar-collapse {
//     max-height: none;
//   }
// }

// Dropdown Menu
// @media only screen and (max-width: 768px) {
//   .navbar-collapse.in {
//     background-color: $semi-transparent;
//   }
// }


/* ----------------------------------------------
    Navbar Toggle (mobile)
---------------------------------------------- */
// #main-nav {
//
//   .navbar-toggle {
//     background-color: $color-primary;
//     &:focus,&:hover {
//       background-color: $astral;
//     }
//   }

  // Toggle horizonal lines
//   .icon-bar {
//     background-color: $white;
//   }
//
// }


/* ----------------------------------------------
    Navbar Brand/Logo
---------------------------------------------- */
// #main-nav {
//   .navbar-brand {
//     color: $color-primary;
//     font-size: 2rem;
//     text-shadow: none;
//     &:focus,&:hover {
//       color: $astral;
//     }
//   }
// }
