// =======================================================================
// Panel
// =======================================================================

// in Forms
.panel-default {
  background-color: #f7f7f9;
  margin-top: 1rem;
  padding: 3rem 5rem;
}
