<title>Dom McKellar | FetchIt</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-site-verification" content="RPRubF6vNgx1mAYd_eUbQxQGbnTMy_PQRT-jEvSJ070">

<meta name="description" content="A delivery service - CMS application created by Dominic McKellar, with built-in customer and business management functionality. Created in Rails, styled with Boostrap, and includes gems such as Devise, Omniauth, Pundit, and more.">
<!-- <meta name="author" content="Dominic McKellar"> -->
<meta name="keywords" content="Dominic McKellar">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@_dom_mc">
<meta name="twitter:title" content="FetchIt">
<meta name="twitter:description" content="A delivery service - CMS application, with built-in customer and business management functionality. Created in Rails, styled with Boostrap, and includes gems such as Devise, Omniauth, Pundit, and more">
