<div class="container order form">
  <h1 class="page-title">Manage Accounts / Admin</h1>

  <%= form_tag(accounts_path, method: "get", id: "account-form") do %>

  <%= select("account", "account_id", Account.all.collect  {|a| [ "#{a.first_name} #{a.last_name} #{ '| ' + a.company if a.company.present?}", a.id ] } + [["View All Accounts"]],  {prompt: 'Select Account'}) %>

  <%= submit_tag "View Account", :name => nil, class: "btn btn-primary"%>
  <% end %>

</div>
