<div class="container form">
  <h1 class="page-title">Edit/Update Profile</h1>

<%= render "form", user_account: @user_account,
                   addresses:    display_address_fields,
                   phones:       display_phone_fields %>

</div><!-- /.container -->
